fastapi==0.115.11
uvicorn==0.34.0
strawberry-graphql==0.261.1
python-multipart==0.0.9
pydantic==2.6.1
email-validator==2.1.0
bcrypt==4.3.0
locust==2.33.1
matplotlib==3.10.1
httpx==0.28.1
playwright==1.50.0
psycopg2-binary==2.9.9
pytest==8.3.5
dotenv==0.9.9